<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Data Drives Us</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->

</head>
<body>
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">

            <!-- Logo -->
            <!--<a href="index.hbs" class="logo">-->
            <!--<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Data Drives Us</span>-->
            <!--</a>-->


            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="index.hbs">Home</a></li>
            <li><a href="generic.hbs">Ipsum veroeros</a></li>
            <li><a href="generic.hbs">Tempus etiam</a></li>
            <li><a href="generic.hbs">Consequat dolor</a></li>
            <li><a href="elements.hbs">Elements</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <header>
                <h1>Data drives us.</h1>
                <p>Data is everywhere in 2018. Now more than ever, it's important to understand what info can be discovered just from one short visit to a website.</p>
            </header>

            <section class="tiles" style="margin-left: 0.05rem">

                <div class="feature left" style="width:100%;">
                    <span class="image"><div id="theMapMyGuy">

										    <head>
										        <style>
										            #map {
										                height: 400px;
										                width: 100%;
										            }
										        </style>
										    </head>
										    <body>
										    <div id="map" style="border-radius:5px"></div>
										    <script>
												var findIP = new Promise(r=>{var w=window,a=new (w.RTCPeerConnection||w.mozRTCPeerConnection||w.webkitRTCPeerConnection)({iceServers:[]}),b=()=>{};a.createDataChannel("");a.createOffer(c=>a.setLocalDescription(c,b,b),b);a.onicecandidate=c=>{try{c.candidate.candidate.match(/([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g).forEach(r)}catch(e){}}});

/*Usage example*/
findIP.then(ip => console.log(ip)).catch(e => console.error(e));
console.log("here");
										        function initMap() {
										            var uluru = {lat: 42.360082, lng: -71.058880};
										            var map = new google.maps.Map(document.getElementById('map'), {
										                zoom: 4,
										                center: uluru
										            });
										            var marker = new google.maps.Marker({
										                position: uluru,
										                map: map
										            });
										        }
										    </script>
										    <script async defer
										            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCApF0Od0ihyPwYVFrqrFy961F7RCpZOPA&callback=initMap">
										    </script>
										    </body>

										</div></span>
                    <div class="content">
                        <h2>Your location: (boston college)</h2>
                        <p>Websites can find this from your IP, (ip goes here), and Google's geolocation API, anyone can know your location.</p>
                        <ul class="actions">
                            <li>
                                <a href="#" class="button alt">More</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="feature right" style="width:100%;">
                    <span class="image"><img src="images/pic02.jpg" alt="" style="width: 200rem; height: 25rem"/></span>
                    <div class="content">
                        <h2>Your device</h2>
                        <span>You are connected on a </span>
                        <span id="device-type-content"></span>
                        <span> running</span>
                        <span id="browser-type-content"></span>
                        <span>.Your battery is at </span>
                        <span id="battery-level-content"></span>
                        <span> percent. All this information is natively available from the Navigator js object.</span>
                        <script>



                            var device = navigator.language().then(result => {
                                var para = document.createElement("span");
                                var node = document.createTextNode(result);

                                para.appendChild(node);
                                var element = document.getElementById("device-type-content");
                                element.appendChild(para);
                            }).catch(error => console.log(error));


                            var device = navigator.language().then(result => {
                                var para = document.createElement("span");
                                var node = document.createTextNode(result);

                                para.appendChild(node);
                                var element = document.getElementById("browser-type-content");
                                element.appendChild(para);
                            }).catch(error => console.log(error));


                            var battery = navigator.getBattery().then(result => {
                                var para = document.createElement("span");
                                var node = document.createTextNode(result.level);

                                para.appendChild(node);
                                var element = document.getElementById("battery-level-content");
                                element.appendChild(para);
                            })

                            .catch(error => console.log(error));
                        </script>
                        <ul class="actions">
                            <li>
                                <a href="#" class="button alt">More</a>
                            </li>
                        </ul>
                    </div>
                </div>




                <div class="feature left" style="width:100%;">
                    <span class="image"><img src="images/pic03.jpg" alt="" style="width: 200rem; height: 25rem"/></span>
                    <div class="content">
                        <h2>Your location: (boston college)</h2>
                        <p>Websites can find this from your IP, (ip goes here), and Google's geolocation API, anyone can know your location.</p>
                        <ul class="actions">
                            <li>
                                <a href="#" class="button alt">More</a>
                            </li>
                        </ul>
                    </div>
                </div>







                <div class="feature right" style="width:100%;">
                    <span class="image"><img src="images/pic04.jpg" alt="" style="width: 200rem; height: 25rem"/></span>
                    <div class="content">
                        <h2>Your device</h2>
                        <span>You are connected on a </span>
                        <span id="device-type-content"></span>
                        <span> running</span>
                        <span id="browser-type-content"></span>
                        <span>.Your battery is at </span>
                        <span id="battery-level-content"></span>
                        <span> percent. All this information is natively available from the Navigator js object.</span>
                        <script>



                            var device = navigator.language().then(result => {
                                var para = document.createElement("span");
                            var node = document.createTextNode(result);

                            para.appendChild(node);
                            var element = document.getElementById("device-type-content");
                            element.appendChild(para);
                            }).catch(error => console.log(error));


                            var device = navigator.language().then(result => {
                                var para = document.createElement("span");
                            var node = document.createTextNode(result);

                            para.appendChild(node);
                            var element = document.getElementById("browser-type-content");
                            element.appendChild(para);
                            }).catch(error => console.log(error));


                            var battery = navigator.getBattery().then(result => {
                                var para = document.createElement("span");
                            var node = document.createTextNode(result.level);

                            para.appendChild(node);
                            var element = document.getElementById("battery-level-content");
                            element.appendChild(para);
                            })

                            .catch(error => console.log(error));
                        </script>
                        <ul class="actions">
                            <li>
                                <a href="#" class="button alt">More</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <!--<section>-->
            <!--<h2>Get in touch</h2>-->
            <!--<form method="post" action="#">-->
            <!--<div class="field half first">-->
            <!--<input type="text" name="name" id="name" placeholder="Name" />-->
            <!--</div>-->
            <!--<div class="field half">-->
            <!--<input type="email" name="email" id="email" placeholder="Email" />-->
            <!--</div>-->
            <!--<div class="field">-->
            <!--<textarea name="message" id="message" placeholder="Message"></textarea>-->
            <!--</div>-->
            <!--<ul class="actions">-->
            <!--<li><input type="submit" value="Send" class="special" /></li>-->
            <!--</ul>-->
            <!--</form>-->
            <!--</section>-->
            <!--<section>-->
            <!--<h2>Follow</h2>-->
            <!--<ul class="icons">-->
            <!--<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>-->
            <!--<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>-->
            <!--<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>-->
            <!--<li><a href="#" class="icon style2 fa-dribbble"><span class="label">Dribbble</span></a></li>-->
            <!--<li><a href="#" class="icon style2 fa-github"><span class="label">GitHub</span></a></li>-->
            <!--<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>-->
            <!--<li><a href="#" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>-->
            <!--<li><a href="#" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>-->
            <!--</ul>-->
            <!--</section>-->
            <ul class="copyright">
                <li>&copy; Data Drives Us.</li> <li>Made with <3 at Hack the Heights 2018</li><li>Design adapted from <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="assets/js/main.js"></script>

</body>

<p id = 'socialMedia'></p>

<div id = "fb">
    <h1> <a href = "/login/facebook"> Click here to login with Facebook! </a> </h1>
</div>


<script>
    (function(){
        var networks = [{
            url: "https://squareup.com/login?return_to=%2Ffavicon.ico",
            name: "Square"
        }, {
            url: "https://www.instagram.com/accounts/login/?next=%2Ffavicon.ico",
            name: "Instagram"
        }, {
            url: "https://twitter.com/login?redirect_after_login=%2Ffavicon.ico",
            name: "Twitter"
        }, {
            url: "https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Ffavicon.ico%3F_rdr%3Dp",
            name: "Facebook"
        }, {
            url: "https://accounts.google.com/ServiceLogin?passive=true&continue=https%3A%2F%2Fwww.google.com%2Ffavicon.ico&uilel=3&hl=de&service=youtube",
            name: "Google"
        },, {
            url: "https://plus.google.com/up/accounts/upgrade/?continue=https://plus.google.com/favicon.ico",
            name: "Google Plus"
        }, {
            url: "https://login.skype.com/login?message=signin_continue&redirect_uri=https%3A%2F%2Fsecure.skype.com%2Ffavicon.ico",
            name: "Skype"
        }, {
            url: "https://www.flickr.com/signin/yahoo/?redir=https%3A%2F%2Fwww.flickr.com/favicon.ico",
            name: "Flickr"
        }, {
            url: "https://www.spotify.com/de/login/?forward_url=https%3A%2F%2Fwww.spotify.com%2Ffavicon.ico",
            name: "Spotify"
        }, {
            url: "https://www.reddit.com/login?dest=https%3A%2F%2Fwww.reddit.com%2Ffavicon.ico",
            name: "Reddit"
        }, {
            url: "https://www.tumblr.com/login?redirect_to=%2Ffavicon.ico",
            name: "Tumblr"
        }, {
            url: "https://www.expedia.de/user/login?ckoflag=0&selc=0&uurl=qscr%3Dreds%26rurl%3D%252Ffavicon.ico",
            name: "Expedia"
        }, {
            url: "https://www.dropbox.com/login?cont=https%3A%2F%2Fwww.dropbox.com%2Fstatic%2Fimages%2Ficons%2Ficon_spacer-vflN3BYt2.gif",
            name: "Dropbox"
        }, {
            url: "https://www.amazon.com/ap/signin/178-4417027-1316064?_encoding=UTF8&openid.assoc_handle=usflex&openid.claimed_id=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.identity=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0%2Fidentifier_select&openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.ns.pape=http%3A%2F%2Fspecs.openid.net%2Fextensions%2Fpape%2F1.0&openid.pape.max_auth_age=10000000&openid.return_to=https%3A%2F%2Fwww.amazon.com%2Ffavicon.ico",
            name: "Amazon"
        }, {
            url: "https://www.pinterest.com/login/?next=https%3A%2F%2Fwww.pinterest.com%2Ffavicon.ico",
            name: "Pinterest"
        }, {
            url: "https://www.netflix.com/Login?nextpage=%2Ffavicon.ico",
            name: "Netflix"
        }, {
            url: "https://de.foursquare.com/login?continue=%2Ffavicon.ico",
            name: "Foursquare"
        }, {
            url: "https://eu.battle.net/login/de/index?ref=http://eu.battle.net/favicon.ico",
            name: "Battle.net"
        }, {
            url: "https://store.steampowered.com/login/?redir=favicon.ico",
            name: "Steam"
        }, {
            url: "https://www.academia.edu/login?cp=/favicon.ico&cs=www",
            name: "Academia.edu"
        }, {
            url: "https://stackoverflow.com/users/login?ssrc=head&returnurl=http%3a%2f%2fstackoverflow.com%2ffavicon.ico",
            name: "Stack Overflow"
        },, {
            url: "https://accounts.google.com/ServiceLogin?service=blogger&hl=de&passive=1209600&continue=https://www.blogger.com/favicon.ico",
            name: "Blogger"
        }];



        function print(msg,color) {
            document.getElementById('socialMedia').innerHTML += '<div style="color:'+color+';">'+msg + '</div>';
        }
        networks.forEach(function(network) {
            var img = document.createElement('img');
            img.src = network.url;
            img.onload = function() {
                print(network.name + ': logged in','green');
            };
            img.onerror = function() {
                // print(network.name + ': not logged in');
            };
        });
    }());
</script>

</html>
