<html>
<head>
    <script src="/index.js", type="text/javascript"></script>
</head>
<body>
    <div>
    <h1 id='greeting'>Hello, YOURNAME</h1>
    </div>
    {{#if apples}}
      <h1>{{apples.data}} </h1>
    {{else}}
      <h1> Some thing went wrong </h1>
    {{/if}}

    <p id = 'socialMedia'></p>
</body>

</html>
